
.navbar{
    transition: all 0.8s ease; 
    opacity: 0.9;
}
.carousel-item img{
   height: 100vh;

    background-size:cover;
    -webkit-background-size: cover;
    background-position: center;
    background: no-repeat;
}
 
 

footer{
    height: 40px;
    padding-top: 10px;
}