body{
    background-color: #f8f6f6;
}
.navbar.navtop{
    transition: all 0.8s ease; 
    opacity: 0.9;
}

.other{
    height: 90px;
    background: black;
}
.gallery{
    margin-top: 100px;
}
.gallery .item img{
     object-fit:cover;
     max-height: 400px;
     
  
    
}
.carousel-item img{
   height: 100vh;

    background-size:cover;
    -webkit-background-size: cover;
    background-position: center;
    background: no-repeat;
}

.item{
    transition: .5s ease-in-out;
    
}
 .item:hover{
    transform: scale(1.02);
    
 }
 

footer{
    height: 40px;
    background: black;
    padding-top: 10px;
}
